* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    margin: 20px auto;
    width: 320px;
    padding: 8px;
    height: 640px;
    background-color: #000000;
    border-radius: 36px;
    color: white;
}

.border {
    position: relative;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 28px;
    width: 100%;
    height: 100%;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.top {
    padding: 72px 0 50px;
    text-align: center;
    z-index: 1;
    overflow: hidden;

    .city {
        font-size: 24px;
        font-weight: 300;
    }

    .temperature {
        font-size: 72px;
        font-weight: 100;
    }
}

.hourly_box {
    width: 100%;
    padding: 5px 10px;
    background-color: #22222260;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    gap: 12px;
    height: 90px;
    overflow-x: auto;
    z-index: 0;
    backdrop-filter: blur(8px) saturate(160%);
    background: linear-gradient(135deg,
            #f2f6fa6b 0%,
            #d6e0ea6b 40%,
            #b3c2d16b 100%);

}

.hourly_elem {
    padding: 4px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-color: #22222260; */
    gap: 10px;
    z-index: 1;
}

.daily_box {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #22222260;
    border-radius: 12px;
    overflow-y: auto;
    z-index: 0;
    backdrop-filter: blur(2px) saturate(160%);
    background: linear-gradient(135deg,
            #f2f6fa6b 0%,
            #d6e0ea6b 40%,
            #b3c2d16b 100%);
}

.daily_elem {
    /* background-color: #22222260; */
    display: flex;
    justify-content: space-between;
    padding: 12px 4px;
    border-bottom: 1px solid #777777;
    z-index: 1;
    overflow: hidden;

    .day {
        font-size: 14px;
        font-weight: 200;
    }
}

.bg-video {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 28px;

}

::-webkit-scrollbar {
    width: 7px;
    /* vertical scrollbar thickness */
    height: 7px;
    /* horizontal scrollbar thickness */
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Makes the track invisible */
}

::-webkit-scrollbar-thumb {
    border-radius: 28px;
    /* Creates the rounded shape */
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark, semi-transparent thumb */
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}